/*Jumbotron*/
.jumbotron {
  text-align: center;
  font-family: courier;
  background: url("http://sitemaker.umich.edu/emotio-functional/Featured%20Objects/da.data/000000000000000000000000000000000000000002773571/image1/filename")center;
  background-repeat: no-repeat;
  height: 400px;
}

/*Jumbotron Header*/
h2 {
  text-align: center;
  font-family: courier;
  margin-top: 0px;
  font-size: 40px;
  margin-left: 30px;
}

/*form group*/
#maketitle {
  text-align: center;
  font-family: courier;
}

/*form input*/
#title {
  text-align: center;
  width: 400px;
}

/*Result Display*/
#result {
  text-align: center;
  padding-top: 30px;
  font-family: courier;
}

/*Submit Button*/
.btn {
  font-family: courier;
}
